*{
	/* color:transparent !important */
}
body .layer-unvisiable {
	background: none;
	box-shadow: none;
}

.full {
	background-color: #dc3545!important;
	color: white;
}
.content-wrap{
	width: 100vw;
	height:100vh;
}
.menu-wrap{
	width:260px;
}

.show-layout{
	border:1px solid #f00
}
.padding{
	padding-top: 20px;
	padding-bottom: 20px;
}

.docker {
	/*position: absolute;
	top: 100px;
	right: 0;*/
	text-align: center;
	width: 340px;
	height: 500px;
}

.docker span {
	font-weight: bold;
	color: darkblue;
}

